/* generics */

body {
    margin: 0 auto;
}


header {
    height: 175px;
    background-color: #4895ed;
    background-image: url(../img/pattern.png);
}
#logo {
    height: 400px;
    width: 400px;
    text-align: bottom;
    position: relative;
    top: 70px;
}

/* effetti sottotitoli */
.grey {
    color: grey;
}

.mini {
    font-size: 10px;
}

.no-margin {
    margin-top: 5px;
    margin-bottom: 5px;
}

.evidenziatore {
    background-color: yellow;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style-position: inside;
}
/* sistemo table */
table {
    text-align: left;
    border-collapse: collapse;
}

th {
    background-color: rgb(32,169,229);
    color: white;
}
.azure {
    background-color: #b1e5f2;
}
tr {
    font-size: 12px;
}
.colonna-1 .colonna-2 {
    width: 90px;
}

.w-50{
    width: 50%;
}

/* immagini articoli extra */
#monitor {
    height: 200px;
    width: 250px;
    color: white;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    padding: 10px;
}

#grafico {
    height: 200px;
    width: 250px;
    color: white;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    padding: 10px;  
}